body {
	user-select: none;
}

/* ----------- Calibrator styles ----------- */

#calibrator {
  	display: block;
  	margin: auto;
  	margin-top: 5px;
  	box-shadow: 5px 5px 5px #555555;
}

.calibratorLine#leftLine   { fill: yellow; cursor: w-resize; }
.calibratorLine#rightLine  { fill: green;  cursor: e-resize; }
.calibratorLine#topLine    { fill: red;    cursor: n-resize; }
.calibratorLine#bottomLine { fill: blue;   cursor: s-resize; }

.calibratorCell                    { cursor: pointer; }
.calibratorCell[status="neutral"]  { opacity: 0;                }
.calibratorCell[status="entrance"] { opacity: 0.5; fill: green; }
.calibratorCell[status="exit"]     { opacity: 0.5; fill: red;   }

/* ----------- Population graph styles ----------- */

#populationGraph {
	display: inline;
  	margin: auto;
  	margin-top: 10px;
  	border: 3px solid gray;
  	background-color: #222222;
  	box-shadow: 5px 5px 5px #BBBBBB;
  	user-select: none;
  	cursor: default;
}

#populationGraph > .xAxis > *,
#populationGraph > .xAxis > * > *,
#populationGraph > .yAxis > *,
#populationGraph > .yAxis > * > *,
#populationGraph > .miniXAxis > *,
#populationGraph > .miniXAxis > * > * {
	stroke: #FFFFFF;
}

/* ----------- FlightsHistogram styles ----------- */

#flightsHistogram {
	display: inline;
  	margin: auto;
  	margin-top: 10px;
  	border: 3px solid gray;
  	background-color: #222222;
  	box-shadow: 5px 5px 5px #BBBBBB;
  	user-select: none;
}

#flightsHistogram > .xAxis > *,
#flightsHistogram > .xAxis > * > *,
#flightsHistogram > .yAxis > *,
#flightsHistogram > .yAxis > * > * {
	stroke: #FFFFFF;
}

/* ----------- AverageFlightTimeGraph styles ----------- */

#averageFlightTimeGraph {
	display: inline;
  	margin: auto;
  	margin-top: 10px;
  	border: 3px solid gray;
  	background-color: #222222;
  	box-shadow: 5px 5px 5px #BBBBBB;
  	user-select: none;
}

#averageFlightTimeGraph > .xAxis > *,
#averageFlightTimeGraph > .xAxis > * > *,
#averageFlightTimeGraph > .yAxis > *,
#averageFlightTimeGraph > .yAxis > * > * {
	stroke: #FFFFFF;
}

/* ----------- CaveDMYSelector styles ----------- */

#caveDMYSelector {
	/*width: 100%;*/
	height: 100%;
	margin-top: 10px;
  	box-shadow: 5px 5px 5px #555555;
}

.caveSelector { margin: 0; width: 100%; height: 20%; background-color: #222222; }
.mySelector   { margin: 0; width: 100%; height: 40%; background-color: #37003C; }
.dSelector    { margin: 0; width: 100%; height: 40%; background-color: #00FF87; }

.caveSelector > .list { list-style: none; margin: 0; padding: 0; width: 100%; height: 100%; }
.mySelector > .list   { list-style: none; margin: 0; padding: 0; width: 100%; height: 100%; }
.dSelector > .list    { list-style: none; margin: 0; padding: 0; width: 100%; height: 100%; }

.caveSelector > .list > * {
	margin-left: 3%;
	margin-right: 3%;
	font-family: Courier;
	user-select: none;
}

.caveSelector > .list > .prevCave,
.caveSelector > .list > .nextCave {
	cursor: pointer;
	color: #444400;
	transition: color 100ms linear;
}

.caveSelector > .list > .currentCave,
.caveSelector > .list > .prevCave:hover,
.caveSelector > .list > .nextCave:hover {
	color: #FFFF00;
}

.caveSelector > .list > .prevCave    { float: left; }
.caveSelector > .list > .nextCave    { float: right; }
.caveSelector > .list > .currentCave {
	cursor: default;
	text-align: center;
}

.mySelector > .list > * {
	margin-left: 3%;
	margin-right: 3%;
	font-family: Courier;
	user-select: none;
}

.mySelector > .list > .prevM,
.mySelector > .list > .nextM,
.mySelector > .list > .prevY,
.mySelector > .list > .nextY {
	cursor: pointer;
	color: #444444;
	transition: color 100ms linear;
	height: 50%;
}

.mySelector > .list > .currentMY,
.mySelector > .list > .prevM:hover,
.mySelector > .list > .nextM:hover,
.mySelector > .list > .prevY:hover,
.mySelector > .list > .nextY:hover {
	color: #FFFFFF;
}

.mySelector > .list > .prevM,
.mySelector > .list > .prevY {
	float: left;
}
.mySelector > .list > .nextM,
.mySelector > .list > .nextY {
	float: right;
}
.mySelector > .list > .currentMY {
	cursor: default;
	text-align: center;
}

/*-----------------*/
#threejsviewer{
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	width:500px;
    height:500px;	
}
