#calibrator {
  	display: block;
  	margin: auto;
  	margin-top: 5px;
  	//border: 3px solid #EEEEEE;
  	//background-color: #111111;
  	background: url("cave1.png") 0 0;
  	background-size: 320px 240px;
  	box-shadow: 5px 5px 5px #555555;
}

.calibratorLine#leftLine   { fill: yellow; }
.calibratorLine#rightLine  { fill: green; }
.calibratorLine#topLine    { fill: red; }
.calibratorLine#bottomLine { fill: blue; }

.calibratorCell[status="neutral"]  { opacity: 0;                }
.calibratorCell[status="entrance"] { opacity: 0.5; fill: green; }
.calibratorCell[status="exit"]     { opacity: 0.5; fill: red;   }